<div class="image">

  <img style="float: right;" src="./images/PHBS_UK.png" width="50%"  align="right">
      <h4>
          <p style="font-size:25pt">UK19B307 AI Analytics</p>
          <p style="font-size:15pt">Week 1 Exercises</p>
      </h4>
<h5>
    <p> Peking University</p>
    <p> Demonstrable Labs</p>
</h5>
</div>

# Table of Contents
* [1. Data Types](#1.-Data-Types)
* [2. Control Structures](#2.-Control-Structures)
* [3. Functions](#3.-Functions)

# 1. Data Types

<div class="alert alert-warning">
<b>EXERCISE (1):</b> 

Please calculate $(-10)\times(2-9)$

</div>

In [1]:
-10*(2-9)

70

<div class="alert alert-warning">
<b>EXERCISE (2):</b> 

Please calculate $6^3\div \sqrt[3]{27}$

</div>

In [2]:
6**3/27**(1/3)

72.0

<div class="alert alert-warning">
<b>EXERCISE (3):</b> 
    
What is the integer quotient of 25.5 divided by 6? You can use the floor division to get the result.

</div>

In [3]:
25.5//6

4.0

<div class="alert alert-warning">
<b>EXERCISE (4):</b> 
    
What is the remainder of 25.5 divided by 6?

</div>

In [4]:
25.5%6

1.5

<div class="alert alert-warning">
<b>EXERCISE (5):</b> 
    
What is the remainder of -25.5 divided by 6? Think how does Python calculate the remainder.

</div>

In [6]:
-25.5+6+6+6+6+6

4.5

<div class="alert alert-warning">
<b>EXERCISE (6):</b> 
    
What is the last digit of the result of $2222^{5555}$? We don't need to print the result $2222^{5555}$. Think how modulo operator can help us.

</div>

In [8]:
2222**55555%10

8

<div class="alert alert-warning">
<b>EXERCISE (7):</b> 
    
Please print the result of $3^7+4^6$.
</div>

In [9]:
3**7 + 4**6

6283

<div class="alert alert-warning">
<b>EXERCISE (8):</b> 
    
Get the integer part of float number 6.68 through type conversion.
</div>

In [10]:
int(6.68)

6

<div class="alert alert-warning">
<b>EXERCISE (9):</b> 
    
Please print the following string:
<p><code>The backslash character "\" is used to escape characters that otherwise have a special meaning.</code></p>

</div>

In [11]:
print('The backslash character "\\" is used to escape characters that otherwise have a special meaning')

The backslash character "\" is used to escape characters that otherwise have a special meaning

<div class="alert alert-warning">
<b>EXERCISE (10):</b> 
    
Please print the following string:
    <p><code>Don't be intimidated by what you don't know.</code></p>

</div>

In [12]:
print('Don\'t be intimidated by what you don\'t know')

Don't be intimidated by what you don't know

<div class="alert alert-warning">
<b>EXERCISE (11):</b> 
    
Please print the following string using one line of code:
    
<code>What do witches ask for at hotels?
Broom service!</code>

</div>

In [13]:
print('What do witches ask for at hotel? \nBroom service!')

What do witches ask for at hotel?
Broom service!

<div class="alert alert-warning">
<b>EXERCISE (12):</b> 
    
Please print the concatenation result of string `Python is` and string `super fun!`.
</div>

In [14]:
print('Python is '+'super fun!')

Python is super fun!

<div class="alert alert-warning">
<b>EXERCISE (13):</b> 

Please print the concatenation of string `PKU was founded in` and number `1898`.
</div>

In [15]:
print('PKU was founded in '+'1898')

PKU was founded in 1898

<div class="alert alert-warning">
<b>EXERCISE (14):</b> 
    
Please print string "London" for 20 times.
</div>

In [16]:
print('London' *20)

LondonLondonLondonLondonLondonLondonLondonLondonLondonLondonLondonLondonLondonLondonLondonLondonLondonLondonLondonLondon

<div class="alert alert-warning">
<b>EXERCISE (15):</b> 
<p>Check if the following statement is True or False: </p>

`(2 > 3 or 3 < 4) and not (45 == 45)`
</div>

In [17]:
(2 > 3 or 3 < 4) and not (45 == 45)

False

<div class="alert alert-warning">
<b>EXERCISE (16):</b> 

Define a list: `list_nested = [1,2,[3,4,[5,6,7],8],9]`

Print number `6` from the list by using the correct index.</p>
</div>

In [18]:
list_nested = [1,2,[3,4,[5,6,7],8],9]
print(list_nested [2][2][1])

6

<div class="alert alert-warning">
<b>EXERCISE (17):</b> 
    
Define a list: `list_num = [1, 2, 's', 4, 5]`.

Write a code to replace the string `s` in the list with integer `3`. Print the list.
</div>

In [19]:
list_num = [1, 2, 's', 4, 5]
list_num[2]=3
print(list_num)

[1, 2, 3, 4, 5]

<div class="alert alert-warning">
<b>EXERCISE (18):</b> 

Define a list: `list_nums = [6.7, 4.0, 4.5, 8.9, 2.1, 6.6, 9.8, -7.0, -0.1, 4.0, -4.4, 8.2, 10, 11, 0.9]`.

Write code that prints the largest number in the list, the smallest number in the list, and the counts of number `4` appears in the list. The correct output would be `11`, `-7.0` and `2` respectively.
</div>

In [22]:
list_nums = [6.7, 4.0, 4.5, 8.9, 2.1, 6.6, 9.8, -7.0, -0.1, 4.0, -4.4, 8.2, 10, 11, 0.9]
print(max(list_nums))
print(min(list_nums))
print(list_nums.count(4))

11
-7.0
2

<div class="alert alert-warning">
<b>EXERCISE (19):</b> 
<p>1. Define a list: nums = [1,3,9,4,5]</p>
<p>2. By using different list functions, change the list to [1,2,3,4,5]. Print the list to check if you get the correct one.</p>
</div>

In [23]:
nums = [1,3,9,4,5]
nums.remove (9)
nums.insert(1,2)
print(nums)

[1, 2, 3, 4, 5]

<div class="alert alert-warning">
<b>EXERCISE (20): </b> 
    
Define a list: `StudentDetails = [30,"University of Oxford","1 High Street, London, W1 1PP", "John Cameron"]`.

Change the order of the elements in the student’s name, address, university, and age. Print the new list. The expected output would be: `['John Cameron', '1 High Street, London, W1 1PP', 'University of Oxford', 30]`.

</div>

In [25]:
StudentDetails = [30,"University of Oxford","1 High Street, London, W1 1PP", "John Cameron"]
StudentDetails =StudentDetails[::-1]
print(StudentDetails)

['John Cameron', '1 High Street, London, W1 1PP', 'University of Oxford', 30]

<div class="alert alert-warning">
<b>EXERCISE (21): </b> 
<p>Create a list of numbers from $500$ to $0$, with an interval of $25$. The list should start with $500$ and end with $0$.</p>

</div>

In [33]:
numbers = list(range(501))
numbers = numbers[::-25]
print(numbers)

[500, 475, 450, 425, 400, 375, 350, 325, 300, 275, 250, 225, 200, 175, 150, 125, 100, 75, 50, 25, 0]

<div class="alert alert-warning">
<b>EXERCISE (22): </b> 

Define a tuple: `primes = (2, 3, 5, 7, 11, 13, 17, 19, 23)`.

 Add two more prime numbers to the tuple: `29` and `31`.
  
HINT: As tuples are immutable you can't just add an item to a tuple, but you can concatenate tuples together.
</div>

In [34]:
primes = (2, 3, 5, 7, 11, 13, 17, 19, 23)
primes_29_31 = (29,31)
final = primes + primes_29_31
print(final)

(2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31)

<div class="alert alert-warning">
<b>EXERCISE (23): </b> 

Write code that prints the $2nd$ item and the $3𝑟𝑑$ item from the end in the tuple `primes`.
  

</div>

In [35]:
print(primes[1])
print(primes[-3])

3
17

<div class="alert alert-warning">
<b>EXERCISE (24): </b> 

Write code that shows the first $5$ items of the tuple `primes`.
  

</div>

In [36]:
print(primes [:5])

(2, 3, 5, 7, 11)

<div class="alert alert-warning">
<b>EXERCISE (25): </b> 

Print the largest and the smallest number in the tuple `primes`.

</div>

In [37]:
print(max(primes))
print(min(primes))

23
2

<div class="alert alert-warning">
<b>EXERCISE (26): </b> 

Define a dictionary: `ages = {"Dave":24, "Mary":42, "John":58, "Mary":32, "Chris":39, "Mike": 20}`.

Please update dictionary `ages` by adding Dorothy, who is 53 years old. 
</div>

In [43]:
ages = {"Dave":24, "Mary":42, "John":58, "Mary":32, "Chris":39, "Mike": 20}
ages.update({"Dorothy":53})
print(ages)

{'Dave': 24, 'Mary': 32, 'John': 58, 'Chris': 39, 'Mike': 20, 'Dorothy': 53}

<div class="alert alert-warning">
<b>EXERCISE (27): </b> 

Get the value from key "Mike" in the dictionary `ages` and assign it to a varialbe called <code>age_1</code>, delete "Mike" from the dictionary. Realize the operation using one line of code. Then print out the variable and the updated dictionary.

</div>

In [46]:
age_1= ages.pop("Mike")
print(age_1)
print(ages)

20
{'Dave': 24, 'Mary': 32, 'John': 58, 'Chris': 39, 'Dorothy': 53}

<div class="alert alert-warning">
<b>EXERCISE (28): </b> 

Write code that calculates the average age of people from dictionary `ages`.

</div>

In [47]:
sum(ages.values())/len(ages.values())

41.2

<div class="alert alert-warning">
<b>EXERCISE (29): </b> 

Write code to show the sorted list of dictionary keys from dictionary `ages`.

</div>

In [48]:
sorted(ages)

['Chris', 'Dave', 'Dorothy', 'John', 'Mary']

<div class="alert alert-warning">
<b>EXERCISE (30): </b> 
    
Define two sets:

`set_a = {4, 6, 8, 11, 15, 16, 17 ,24, 28, 31, 43, 39, 50, 56}` 

`set_b = {5, 6, 9, 10, 15, 20, 24, 31, 42, 49, 50} `

Print symmetric difference and intersection of the two sets.
</div>

<div class="alert alert-warning">
<b>EXERCISE (31): </b> 
    
Define a list:

`list_dup = [1, 2, 2, 2, 2, 3, 3, 3, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 7, 7, 7, 7, 8, 8, 9, 10]`

Update the list so that it would only contain unique values. Print the updated list, the desirable output is: `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`. 

</div>

<div class="alert alert-warning">
<b>EXERCISE (32): </b> 

Please check the output of below expression.Think how the expression is evaluated in `Python`.
    
17 / 2 % 2 * 3 ** 3

<div class="alert alert-warning">
<b>EXERCISE (33):</b> 
<p>When two operators have the same precedence, associativity helps to determine the order of operations.</p>
<p>Associativity is the order in which an expression is evaluated that has multiple operator of the same precedence.</p> 
<p>Almost all the operators have left-to-right associativity - how about the below operators?</p>
<p>Check if the following expressions are the same: (2&ast;&ast;3&ast;&ast;2) and ((2&ast;&ast;3)&ast;&ast;2)?</p>
</div>

<div class="alert alert-warning">
<b>EXERCISE (34):</b> 
    
Get the user's inputs of two numbers, and calculate the multiplication of them. You can use the prompts (the `string` displayed) `Enter a number:` and `Enter another number:` when requesting the inputs.

Check if you can get the correct multiplication result after entering the two numbers.
</div>

In [49]:
float(input('Enter a number: '))*float(input('Enter another number: '))

Enter a number: 2
Enter another number: 4

8.0

<div class="alert alert-warning">
<b>EXERCISE (35):</b> 

Get the user's name by the input function, and assign it to a variable called `name`.You can use the prompt `Please enter your name: ` when asking the input.
</div>

In [50]:
name = str(input('Please enter your name: '))

Please enter your name: Ama

<div class="alert alert-warning">
<b>EXERCISE (36):</b> 

Please print the concatenation of string `Nice to meet you, ` and the name got from the user input in the previous exercise.
</div>

In [51]:
print('Nice to meet you, '+name)

Nice to meet you, Ama

<div class="alert alert-warning">
<b>EXERCISE (37):</b> 

Get the the user's age, and assign it to a variable called `age`.You can use the prompt `Please enter your age: ` when asking the input.
</div>

In [52]:
age = int(input('Please enter your age: '))

Please enter your age: 49

<div class="alert alert-warning">
<b>EXERCISE (38):</b> 
    
Calcualte the year when the user will turn to 100 years old and assign the result to a variable called `year_age_100`. For a user who is 22 years old, he or she will turn to 100 years old in the year 2098 (2020+100-22).
</div>

In [53]:
year_age_100 = 2020+100-int(age)

<div class="alert alert-warning">
<b>EXERCISE (39):</b> 
    
Please print a message and tell the user the year he or she will turn to 100 years old.

For example the message could be: `Hello James, you will be 100 year old in year 2096.`
</div>

In [55]:
print('Hello '+name+' you will be 100 years old in year '+str(year_age_100)+ '')

Hello Ama you will be 100 years old in year 2071

# 2. Control Structures

<div class="alert alert-warning">
<b>EXERCISE (40):</b>

Get the user's input with the prompt: `Please enter a number between 1 and 5: `. Print the user's number if it is between 1 and 5. If not, output this message: `Number is not between 1 and 5`.
</div>

In [56]:
number = int(input('Please enter a number between 1 and 5: '))
if number==1:
    print('number is 1')
elif number ==2:
    print('number is 2')
else:
    print('number is 3')

Please enter a number between 1 and 5: 4
number is 3

<div class="alert alert-warning">
<b>EXERCISE (41):</b> 
<p> Write code to replicate the flowchart.<p/>
<img src="./images/if_else.png" width="30%">
</div>

<div class="alert alert-warning">
<b>EXERCISE (42):</b> 

Write a code that gets two names from the inputs of the user and checks if the names are the same. You can use the prompts `Please give me a name: ` and `Please give me another name: `. If the names are the same, the code prints `Same names.`, otherwise it prints `Different names.`.

</div>

<div class="alert alert-warning">
<b>EXERCISE (43):</b> 

Fill the blanks in the code below, so that the output is `true`.

`if (1 == ___) and (2 + ___ > 3):
    print("true")
else: 
    print("false")`
</div>

<div class="alert alert-warning">
<b>EXERCISE (44):</b> 

Create a while loop that prints integers from 10 to 0 and then terminates the loop with the message `Done!`.
</div>

In [58]:
i =10
while i>=0:
    print(i)
    i-=1
print('done')

10
9
8
7
6
5
4
3
2
1
0
done

<div class="alert alert-warning">
<b>EXERCISE (45):</b> 

Fill in the gaps in the code below, so that the code prints: itself for uneven numbers the number, `Even number` for the even numbers. When the code reaches 15 it should print the string `Last one in range`.

`i = 0
while ___:
    i ___ 1
    if ___ == 0:
        print(___)
        ____ 
    if i == 15:
        print("Last one in range")
        ____
    print(i)`
</div>

In [62]:
i = 0
while True:
    i+= 1
    if i%2 == 0:
        print('even number')
        continue
    if i==15:
        print('last one in range')
        break
    print(i)

1
even number
3
even number
5
even number
7
even number
9
even number
11
even number
13
even number
last one in range

<div class="alert alert-warning">
<b>EXERCISE (46):</b>

Fill in the gaps so that the code takes a name input from user and checks whether the name is on the predefined list.

`name_list = ['Theresa','Boris','Nicola','Jeremy','Nigel','Sadiq']
name_input = input('Please input your name:')
___________________:
    print('Welcome, '+ name_input)
_____:
    print('You are not on the list.')`
</div>

<div class="alert alert-warning">
<b>EXERCISE (47):</b> 

Write a code that will ask the user to input the password for 5 times. The program will print `You have successfully logged in` if the password is correct. After 5 failed attempts, it will print `You are not the authorized user` and stop asking password. For testing purposes, you can set the password as `manage` by defining a variable: `password = 'manage'`</p>
</div>

In [ ]:
password = 'manage'
n = 0
while True:
    user_input = (input('Please enter the password: '))
    n+=1
    if user_input == password:
        print('You have successfully logged in')
        break
    if n == 5:
        print('You are not the authorized user')
        break

Please enter the password: ma

# 3. Functions

<div class="alert alert-warning">
<b>EXERCISE (48):</b>
    
Write a function that returns the square of a number, call it `sqr_num` and test it with the input argument being `5`.
</div>

<div class="alert alert-warning">
<b>EXERCISE (49):</b>
    
Write a function called `check_even` which prints `yes` when the argument is an even number and prints `no` otherwise.
</div>

<div class="alert alert-warning">
<b>EXERCISE (50):</b>

Write a function called `min_num` which takes two numbers as arguments and returns the smaller one.
</div>

<div class="alert alert-warning">
<b>EXERCISE (51): </b> 

Create a function `key_check(x, dict)` that checks if the argument of the functions (`x`) is used as a key in the dictionary (`dict`).

If the argument is used as a key display `Key is already taken.`, else display `Key is not present in the dictionary.`.

</div>

<div class="alert alert-warning">
<b>EXERCISE (52):</b>
    
Write a function called `string_reverse` which takes a string as the argument. The function returns the reversed input string. 

Call the function with argument `'123abcd'`, print the return value. The desirable output is `dcba4321`.
</div>

<div class="alert alert-warning">
<b>EXERCISE (53):</b>
    
1, Define a function called `cube` that takes an argument called `number` and returns the cube of that number (i.e. that number multiplied by itself and multiplied by itself once again).

2, Define a second function called `by_three` that takes an argument called number. If that number is divisible by 3, `by_three` should call `cube(number)` and return its result. Otherwise,  `by_three` should return False.

3, Call the function `by_three` with number `9` as the input argument. Print the result and the output should be `729`.
</div>

<div class="alert alert-warning">
<b>EXERCISE (54):</b>

1, Define a function called `max_of_two` that takes the arguments of two numbers and returns the maximum number of the two arguments.

2, Define a second function called `max_of_three` that takes the arguments of three numbers. The function returns the maximum number of the three arguments. Call `max_of_two` in `max_of_three` to make the function easlier to write. 

3, Check if the program works.
</div>

<div class="alert alert-warning">
<b>EXERCISE (55):</b>

1, Define two functions called `square` and `cube` which take a number argument and return the square and cube of that number respectively .

2, Define another function called `test` that takes the two arguments: `func` and `num`.

3, The function `test` can return the result of executing any of the two functions defined in step 1 with the specified number. It can be used to check if the two functions are correctly defined.  

4, Execute the function `test` to check if we can get the correct result of $2^2$ and $2^3$ by using functions `square` and `cube` as part of the arguments. 
</div>